In [1]:
import pandas as pd

df = pd.read_csv('sample_data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      50 non-null     object
 1   numberrange  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [4]:
df.head()

   country  numberrange
0  Ireland            3
1    China            0
2  Ireland            8
3  Austria           10
4  Nigeria            2

In [7]:
list_of_countries = df['country'].unique()

array(['Ireland', 'China', 'Austria', 'Nigeria', 'Sweden', 'Norway',
       'Australia', 'Vietnam', 'Brazil', 'Mexico', 'Spain',
       'South Africa', 'Colombia', 'Ukraine', 'Belgium', 'Costa Rica',
       'Netherlands', 'Germany', 'India', 'Pakistan', 'Poland',
       'Singapore', 'Indonesia', 'Peru', 'Canada', 'United Kingdom',
       'South Korea', 'Chile'], dtype=object)

In [2]:
df['country'].value_counts()

country
Ireland           4
China             4
Colombia          3
Sweden            3
Norway            3
Vietnam           3
Poland            2
Pakistan          2
Germany           2
Ukraine           2
Belgium           2
Nigeria           2
Austria           2
Australia         2
South Korea       1
United Kingdom    1
Canada            1
Peru              1
Indonesia         1
Singapore         1
South Africa      1
Spain             1
India             1
Netherlands       1
Costa Rica        1
Brazil            1
Mexico            1
Chile             1
Name: count, dtype: int64

In [7]:
len(df[df['country']=='Ireland'])

4