In [1]:
import pandas as pd

df = pd.read_csv('sample_data.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      50 non-null     object
 1   numberrange  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 928.0+ bytes

In [4]:
df.head()

   country  numberrange
0  Ireland            3
1    China            0
2  Ireland            8
3  Austria           10
4  Nigeria            2

In [7]:
list_of_countries = df['country'].unique()

array(['Ireland', 'China', 'Austria', 'Nigeria', 'Sweden', 'Norway',
       'Australia', 'Vietnam', 'Brazil', 'Mexico', 'Spain',
       'South Africa', 'Colombia', 'Ukraine', 'Belgium', 'Costa Rica',
       'Netherlands', 'Germany', 'India', 'Pakistan', 'Poland',
       'Singapore', 'Indonesia', 'Peru', 'Canada', 'United Kingdom',
       'South Korea', 'Chile'], dtype=object)

In [9]:
country_value_counts = df['country'].value_counts()
count_country_dict = country_value_counts.to_dict()

In [12]:
country_value_counts['Canada']

1

In [7]:
len(df[df['country']=='Ireland'])

4

In [13]:
df['numberrange'].max()

10

In [14]:
df['numberrange'].median()

4.5

In [16]:
df[df['country']=='Ireland']['numberrange'].describe()

count    4.000000
mean     3.500000
std      3.109126
min      1.000000
25%      1.750000
50%      2.500000
75%      4.250000
max      8.000000
Name: numberrange, dtype: float64